/* src/css/pages/regulations-page.css */
.container.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container h1 {
    margin-top: 100px;
}

h2.text-uppercase {
    text-transform: uppercase;
}
