/* src/css/components/event-section.css */
.event.bg-dark.text-light {
    padding: 5rem 0;
}

.event-boxes a {
    text-transform: uppercase;
    color: black;
}

.event-links {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
    padding-top: 1em;
}

.event-link:hover {
    color: rgb(16, 104, 237);
}
