/* src/css/components/form-section.css */
.form.bg-light {
    padding: 5rem 0;
}

.form form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form .form-label,
.form .form-control {
    text-align: left;
}

.form .mb-3 {
    text-align: left;
}

.form .form-label {
    font-size: 1.6rem;
    font-weight: 500;
}

.form .form-control {
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 15px;
}

.form .btn {
    font-size: 1.6rem;
    padding: 10px 20px;
}

.privacy-policy {
    margin-top: 20px;
}
